

#userRegistration{
    display: block;
    /* border: 2px solid black; */
}

#registerForm{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    /* border: 2px solid black; */

}
#userInput{
    display: flex;
    justify-content: right;
}
#navBar{
    /* border: 2px solid black; */
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    
}
.navBar{
    text-decoration: none;

}
#inputForm{
    width: 475px;
    /* border: 2px solid black; */
    
}
.inputBox{
    /* border: 2px solid black; */
    width: 500px;
}


#welcomeHeadline{
    text-align: center;
}

#profileContainer{
    display: flex;
}

.message{
    border: 2px solid black;
    margin-bottom: 5px; 
    padding-left: 5px;

}



.userPosts{
    border: 2px solid black;
    margin-bottom: 5px; 
    padding-left: 5px;
}

.allposts{
    border: 2px solid black;
    margin-bottom: 5px;
}


#allMessages{
    width: 49%;

}

#allPosts{
    width: 49%;
    margin-right: 10px;

}


/* #loading {
    position: fixed;
  
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  
    backdrop-filter: blur(3px);
    background: rgba(0, 0, 0, 0.4);
    
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    text-align: center;
  }
  
  #loading .message {
    min-width: 480px;
    padding: 3rem;
  
    box-shadow: 0 2px 8px black;
    background: white;
  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } */